@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior:smooth
}

.bg-c-offwhite {
    background-color: #f3f1ec;
}

.font-archivo {
    font-family: 'Archivo', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-comfortaa {
    font-family: 'Comfortaa', sans-serif;
}

.bg-c-offblack {
    background-color: #0b0f0e;
}

.fg-c-offwhite {
    color: #f4f5fc;
}

.fg-c-grey {
    color: #cacaca;
}

.border-c-offwhite {
    border-color: #f4f5fc;
}

.border-c-1 {
    border-width: 1px;
}

a:hover {
    color: #cacaca;
}

.custom-bottom-margin {
    margin-bottom: calc(100vh * 0.1);
}